*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    background-color: whitesmoke;
    width: 100%;
}
.logo img{
    height: 60px;
    margin-left: 10px;
    display: inline-block;
}
.item a{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    position: relative;
    display: inline-block;
    left: 800px;
    margin-right: 10px;
    bottom: 40px;
}
.home{
    background-image: url(./IMAGES/CS\ STUDENTS.jpg);
    height: 500px;
    width: 1200px;
    position: relative;
}
.riri{
    font-size: 20px;

}
.bottom a{
    list-style-type: none;
    text-decoration: none;
    position: relative;
    left: 20px;
    margin-right: 10px;
    bottom: 40px;
    height: 100px;
}

 

.box{
    height: 150px;
}
.image_box{
    margin-left: 100px;
    position: relative;
    
}

.final_grid{
    display: grid;
    background-color: gray;
    grid-template-columns: auto auto;
    column-gap: 30px;
    padding: 80px
}  



.inner_grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.footer{
    background-color: rgb(5, 5, 118);
    color: white;
    padding: 20px;
}
    .container{
        color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1100px;
    }
    #content {
      padding: 25px;
    }

    .research-project {
      margin-bottom: 20px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .nav-bar{
    
    width: 100%;
}
.last_grid{
            display: grid;
            background-color: rgb(5, 5, 118);
            column-gap: 100px;
            grid-template-columns: auto auto  ;
            padding-right: 90px;
        }
        .last{
            padding: 40px;
            font-size: 18px;
        }
        .inner_grid{
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 100px;

        }
